<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="fadx"  parallel="methods" data-provider-thread-count="2" thread-count="2">
<test name="Login">
<classes>
<class name="com.fadx.Tests.LoginTests">  </class>  

     
</classes>
</test>
</suite>